@import "tailwindcss";


@theme inline {
  --color-primary: #4641e3;
  --color-on-primary: #f4f1ff;
  --color-primary-container: #9596ff;
  --color-on-primary-container: #0f0080;
  --color-primary-fixed: #9596ff;
  --color-on-primary-fixed: #000000;
  --color-primary-fixed-dim: #8686ff;
  --color-on-primary-fixed-variant: #15009b;
  --color-secondary: #6049b2;
  --color-on-secondary: #f7f0ff;
  --color-secondary-container: #d7caff;
  --color-on-secondary-container: #4c339d;
  --color-secondary-fixed: #d7caff;
  --color-on-secondary-fixed: #381b89;
  --color-secondary-fixed-dim: #c9baff;
  --color-on-secondary-fixed-variant: #553ea7;
  --color-tertiary: #973774;
  --color-on-tertiary: #ffeff4;
  --color-tertiary-container: #fc8bcd;
  --color-on-tertiary-container: #610246;
  --color-tertiary-fixed: #fc8bcd;
  --color-on-tertiary-fixed: #350025;
  --color-tertiary-fixed-dim: #ed7ebf;
  --color-on-tertiary-fixed-variant: #6c1050;
  --color-error: #b41340;
  --color-on-error: #ffefef;
  --color-error-container: #f74b6d;
  --color-on-error-container: #510017;
  --color-background: #faf4ff;
  --color-on-background: #312950;
  --color-surface: #faf4ff;
  --color-on-surface: #312950;
  --color-surface-variant: #e1d7ff;
  --color-on-surface-variant: #5e5680;
  --color-outline: #7a719d;
  --color-outline-variant: #b1a7d6;
  --color-inverse-surface: #10072d;
  --color-inverse-on-surface: #a197c5;
  --color-inverse-primary: #8282ff;
  --color-surface-tint: #4641e3;
  --color-surface-bright: #faf4ff;
  --color-surface-dim: #d9ceff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5eeff;
  --color-surface-container: #ece4ff;
  --color-surface-container-high: #e7deff;
  --color-surface-container-highest: #e1d7ff;
  --color-primary-dim: #3831d7;
  --color-secondary-dim: #543da6;
  --color-tertiary-dim: #882a67;
  --color-error-dim: #a70138;

  --font-headline: var(--font-plus-jakarta-sans);
  --font-body: var(--font-be-vietnam-pro);
  --font-label: var(--font-be-vietnam-pro);
  --font-display: var(--font-plus-jakarta-sans);

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.story-bubble {
  border-radius: 43% 57% 55% 45% / 37% 33% 67% 63%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: var(--font-body), sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-background);
}

.headline-font {
  font-family: var(--font-headline), sans-serif;
}

.label-font {
  font-family: var(--font-label), sans-serif;
}

.display-font {
  font-family: var(--font-display), sans-serif;
}